<form action="{% url 'main:index' %}" method="GET">
  <div class="p-2">
    <div class="field">
      <label class="label">사업자 등록번호</label>
      <div class="control">
        <input
          class="input"
          name="registration_number"
          placeholder="000-00-00000"
          required="true"
          type="text"
          value="{{ registration_number }}"
        />
      </div>
      <p class="help">
        사업자 등록번호는 최소 6자리를 포함해서 넣어주세요. ('-'문자 유무 상관없음.)
      </p>
    </div>
  
    <div class="field">
      <label class="label">회사명</label>
      <div class="control">
        <input
          class="input"
          name="registration_name"
          placeholder="(주)그렙"
          required="true"
          type="text"
          value="{{ registration_name }}"
        />
      </div>
      <p class="help">
        회사명은 유사도 검색으로 찾을 회사명입니다.
      </p>
    </div>
  
    <div class="field">
      <label class="label">키워드</label>
      <div class="control">
        <input
          class="input"
          name="keyword"
          placeholder="그렙"
          type="text"
          value="{{ keyword }}"
        />
      </div>
      <p class="help">
        필수 키워드는 무조건 들어갈 것 같은 단어를 넣어 검색할 수 있습니다. 필수 X
      </p>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">검색</button>
      </div>
    </div>
  </div>
</form>