<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paeon</title>
</head>
<body>
  <form action="{% url 'main:index' %}" method="GET">
    <div>
      <label style="margin: 1rem">
        사업자등록번호
        <input name="registration_number" value="{{ registration_number }}" style="width: 500px">
      </label>
    </div>
    <div style="margin: 1rem">
      <label>
        회사명
        <input name="registration_name" value="{{ registration_name }}" style="width: 500px">
      </label>
    </div>
    <div style="margin: 1rem">
      <button type="submit">검색</button>
    </div>
  </form>  
  <hr>

  <div>
    {% for company in company_list %}
      <p>
        {% for label, value in company %}
          {{ label }} : {{ value }} ,
        {% endfor %}
      </p>
    {% endfor %}
  </div>
</body>
</html>