{% extends 'base.html' %}

{% block stylesheet %}
<style>
  .btn {
    color: black;
    cursor: pointer;
  }
  .text-center {
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}


<div class="m-2">
  {% include '_form.dj.html' %}
  {% include '_result_table.dj.html' %}
</div>

{% endblock %}


{% block script %}
<script>
  function copyToClipboard(str) {
    const t = document.createElement("textarea");
    document.body.appendChild(t);
    t.value = str;
    t.select();
    document.execCommand("copy");
    document.body.removeChild(t);
  }
</script>
{% endblock %}
