{% extends 'base.html' %}

{% block stylesheet %}
<style>
  .btn {
    color: black;
    cursor: pointer;
  }
  .text-center {
    text-align: center;
  }

  .menu {
    position: sticky;
    top: 0;
    background: white;
    margin-bottom: 1rem;
    border-bottom: 1px solid #D0DFDE;
  }
</style>
{% endblock %}

{% block content %}


<div class="m-2">
  <div class="menu">
    {% include '_form.dj.html' %}
  </div>
  {% include '_result_table.dj.html' %}
</div>

{% endblock %}


{% block script %}
<script>
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  }

  function copyToClipboard(str) {
    const t = document.createElement("textarea");
    document.body.appendChild(t);
    t.value = str;
    t.select();
    document.execCommand("copy");
    document.body.removeChild(t);
  }
</script>
{% endblock %}
